<div class='col-12 m-2'>
  <div class="row">
    <div class="col-12 col-md-4">
      <%= link_to movie_path(movie) do %>
      <%= image_tag(movie.image, width: 200, height: 200) if movie.image.attached? %><br>
    <%end%>
  </div>
  <div class="col-12 col-md-8">
    <b>
      <%=link_to movie.name, movie_path(movie)%> |
      <span>
        <%= link_to  (user_signed_in? && movie.favorites.where(user_id: current_user.id))? "remove from f" : "add to f", favorite_movie_path(movie), method: :post %>
      </span>
    </b>
    <p>
      Year:
      <%=movie.year%>
    </p>
    <p>
      <%= movie.desc%>
    </p>
    <div class="">
      <% movie.categories.each do |category|%>
        <%=link_to category_path(category.name) do %>
        <span class="badge badge-primary"><%=category.name%></span><%end%>
    <%end%>
  </div>
</div>
</div>
</div>
