<h2>
<%= @movie.name%>
</h2>
<%= image_tag(@movie.image, width: 200, height: 200) if @movie.image.attached? %>
<span>рік:
<%= @movie.year%>
</span>
<span>
<%=render @movie.categories%>
</span>
<p>
<%= @movie.desc%>
</p>
