<nav class="navbar navbar-light bg-light">
  <%= link_to "Movies", root_path, class:"navbar-brand" %>
  <%= form_tag search_path,class:"form-inline", method: :get  do%>
    <%= text_field_tag :q,params[:q],class:"form-control mr-sm-2"%>
    <%= button_tag "Search",class:"btn btn-outline-success my-2 my-sm-0" %>
  <%end%>
  <% unless user_signed_in? %>
  <%= link_to "Вхід", new_user_session_path, class:"nav-link" %>
  <%else%>
    <%= current_user.email%>
    <%= link_to "Вийти", destroy_user_session_path,method: :delete, class:"nav-link" %>
  <%end%>
</nav>
